doctype html
html
  head

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    title Voisin

    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.11.1.js')
    script(src='/js/index.js')


  body.index
    div#container
      div#mosaic
        div.carre.hoverable.carre-1
          div.text
            a(href="#")
              img(src="imagep/fenetre1.jpg")
        div.carre.hoverable.carre-2
          div.text
            a(href="#")
              img(src="imagep/fenetre2.jpg")
        div.carre.hoverable.carre-3
          div.text
            a(href="#")
              img(src="imagep/fenetre3.jpg")
        div.carre.hoverable.carre-4
          div.text
            a(href="#")
              img(src="imagep/fenetre4.jpg")
        div.carre.hoverable.carre-5
          div.text
            a(href="#")
              img(src="imagep/fenetre5.jpg")
        div.carre.hoverable.carre-6
          div.text
            a(href="#")
              img(src="imagep/fenetre6.jpg")
        div.carre.hoverable.carre-7
          div.text
            a(href="#")
              img(src="imagep/fenetre7.jpg")
        div.carre.hoverable.carre-8
          div.text
            a(href="#")
              img(src="imagep/porte.jpg")
        div.carre.hoverable.carre-9
          div.text
            a(href="#")
              img(src="imagep/fenetre8.jpg")